/** Mobile **/
.h1_1 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #fcc902;
  text-shadow: 3px 3px #000000;
  font-size: 70px;
}

.centered-image a {
  display: block;
  text-align: center;
  transition: transform 0.2s;
}

@media (max-width: 767px) {
  .image-container {
    text-align: center;
    padding-top: 60px;
    padding-left: 10px;
  }

  .image-container img {
    max-width: 70%;
    height: auto;
    cursor: pointer;
  }

  .image-title {
    text-align: center;
    font-family: "Lilita One", cursive;
    color: #fcc902;
    font-size: 30px;
  }
}

/** Desktop **/

@media (min-width: 750px) {
  .image-container {
    text-align: center;
  }

  .image-container img {
    max-width: 35%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s; /* Add a smooth transition effect */
  }

  .image-container img:hover {
    transform: scale(1.1); /* Increase the size by 10% on hover */
  }

  .image-title {
    text-align: center;
    font-family: "Lilita One", cursive;
    color: #d57634;
    font-size: 70px;
  }
}
