/** Mobile **/

@media (max-width: 767px) {
  /* Style for the image container */
  .image_container {
    text-align: center;
    position: relative;
    top: 50px;
    left: 10px;
  }

  /* Style for the image */
  .image_container img {
    max-width: 75%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  /* Style for the anchor element */
  .image_container a {
    cursor: pointer;
    display: inline-block;
  }

  /* Style for the image title */
  .image_title {
    text-align: center;
    font-family: "Lilita One", cursive;
    color: #d57634;
    font-size: 30px;
    position: absolute;
    bottom: 260px; /* Adjust the distance from the bottom to add spacing */
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    width: 100%;
  }
}

/** Desktop **/

@media (min-width: 750px) {
  /* Style for the image container */
  .image_container {
    text-align: center;
    position: relative;
    top: 30px;
  }

  /* Style for the image */
  .image_container img {
    max-width: 80%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  /* Style for the anchor element */
  .image_container a {
    cursor: pointer;
    display: inline-block;
  }

  /* Style for the image title */
  .image_title {
    text-align: center;
    font-family: "Lilita One", cursive;
    color: #d57634;
    font-size: 70px;
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom to add spacing */
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    width: 100%;
  }
}
